.root {
    position: relative;
}

.control {
    z-index: 1;
}

.volumeRange {
    appearance: slider-vertical;
    position: absolute;
    bottom: 56px;
    right: 0;
    opacity: 0;
    width: 48px;
    height: 72px;
    transition: opacity 0.3s;
    pointer-events: none;
}

.root:hover .volumeRange {
    pointer-events: all;
    opacity: 1;
}

.volumeIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}