.root {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100dvh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5dvw;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, z-index 0.3s linear 0.3s;
    overflow: hidden;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.root>div {
    max-width: 600px;
    height: 100%;
    flex-basis: 0;
    flex-shrink: 1;
}

.show {
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s, z-index 0.3s;
}

.box {
    color: white;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 1000;
    border-radius: 6px;
    max-height: 100%;
    overflow-y: scroll;
    padding: 24px;
    box-sizing: border-box;

    @media (min-width: 768px) {
        padding: 48px;
    }
}

.box * {
    text-align: center;
}

.box p {
    text-align: left;
    line-height: 28px;
}

.logo {
    display: block;
    margin: auto;
    max-width: 100%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        gap: 12px;
    }
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
}

.button svg {
    display: inline-block;
    margin-right: 6px;
}

.backLink {
    box-sizing: border-box;
    display: block;
    margin: 12px auto;
    padding: 12px;
}

.backLink svg {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 6px;
}

.closeButton {
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    padding: 12px;
    margin-top: -12px;
    margin-right: -12px;
    margin-left: auto;
    display: block;
    cursor: pointer;
    font-size: 24px;
}