.root {
    position: fixed;
    top: 10dvu;
    right: 10dvu;
    bottom: 10dvu;
    left: 10dvu;
    color: white;
    background-color: black;
    z-index: 1000;
    opacity: 0.8;
    padding: 24px
}